#input {
    border: 1px solid #ccc;
    font-family: 'Times New Roman', Times, serif;
    min-height: 700px;
    max-height: 700px;
    padding: 1cm;
    width: 500px;
    font-size: 14px;
    line-height: 1.5;
    overflow: clip;
    word-wrap: break-word;
}

#input:focus {
    outline: none;
}

#displayResultText, #displayResultImage {
    height: 65vh;
    overflow-y: auto;
    word-wrap: break-word;
}

#tipText, #tipImages {
    overflow-y: auto;
    word-wrap: break-word;
}